<nav class="navbar navbar-expand-sm navbar-bg-success bg-success">
    <a class="navbar-brand" href="/" th:href="@{/}">
        <img alt="logo" height="45" src="/images/logo.png" width="45">
    </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <form class="form-inline" method="get" th:action="@{/search/study}">
                    <input aria-label="Search" class="form-control mr-sm-2" name="keyword" placeholder="스터디 찾기"
                           type="search"/>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-white" href="#" th:href="@{/login}">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#" th:href="@{/sign-up}">회원가입</a>
            </li>
        </ul>
    </div>
</nav>